@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Dana';
  src: url('../public/font/Dana/DanaFaNum-Regular.woff2');
}
@font-face {
  font-family: 'Dana medium';
  src: url('../public/font/Dana/DanaFaNum-Medium.woff2');
}
@font-face {
  font-family: 'Dana bold';
  src: url('../public/font/Dana/DanaFaNum-DemiBold.woff2');
}
@font-face {
  font-family: 'Morabba bold';
  src: url('../public/font/Morabba/Morabba-Bold.woff2');
}